.container {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 40vw;
    font-size: 30px;
    color: yellow;
    background-color: transparent;
    border-radius: 15%;
    font-family: rickandmorty;
    border: solid yellow;
}
.container button {
    position: absolute;
    bottom: 30%;
    left: 43%;
    font-size: 40px;
    height: 9vh;
    width: 15vw;
    border-radius: 70%;
    background-color: yellow;
    font-family: rickandmorty;
}
.container input {
    font-size: 30px;
}
.container button:hover {
    cursor: pointer;
    font-size: 60px;
}

.errors {
    color: red;
}