.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: yellow;
    background-color: black;
    padding: 1%;
    margin: 1%;
    font-family: rickandmorty;
    border: solid yellow;
}
.container button {
    position: absolute;
    bottom: 50px;
    left: 800px;
    font-size: 50px;
    height: 90px;
    width: 400px;
    border-radius: 70%;
    background-color: yellow;
    font-family: rickandmorty;
}
.container input {
    font-size: 30px;
}
.container button:hover {
    cursor: pointer;
    font-size: 60px;
}

.errors {
    color: red;
}