.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 97vw;
    height: 4vh;
    margin: 0%;
    background-color: yellow;
    font-family: rickandmorty;
    font-size: 30px;
    color: black;
}
.fav:hover {
    color: red;
    font-size: 40px;
}
.home:hover {
    color: red;
    font-size: 40px;
}
.about:hover {
    color: red;
    font-size: 40px;
}